extends ../layouts/layout.pug

block content 
	div(class="mb-10") パスワード再設定を受け付けました。

	div(class="mb-10") 以下の確認コードを入力して、新しいパスワードを設定進めてください。

	div(class="mb-10 otp-div")
		span #{otp}

	div(class="mb-10") セキュリティ上、本メールの受信後、24時間以内にパスワードの再設定を完了してください。

	div(class="mb-10") 
		div このメールは送信専用アドレスより送信しております。そのため返信頂いても内容の確認ができません。
		div こちらのメールに心当たりがない場合はアカウントを停止してすぐにお知らせください。
