extends ../layouts/layout.pug

block content 
	div(class="mb-10") この度はbitcastle[ビットキャッスル]へご登録いただきまして誠にありがとうございます。

	div(class="mb-10") まだ登録は完了しておりませんので、確認コードを使って登録手続きを完了させてください。

	div(class="mb-10 otp-div")
		span #{otp}

	div(class="mb-10") 
		| 上記確認コードは#{ttl / 60 / 60}時間有効です。
		| 本メールの受信後、#{ttl / 60 / 60}時間以内にアカウントの本登録を完了してください。

	div(class="mb-10") 
		div 5つのセキュリティ事項
		div *パスワードを他人に教えないでください。
		div *bitCastleサポートと名乗る人物に電話をしないでください。
		div *bitCastleのメンバーと名乗る人物に送金しないでください。
		div *二段階認証を有効にしてください。
		div *このメールは送信専用アドレスより送信しております。

		div そのため返信頂いても内容の確認ができません。
		div こちらのメールに心当たりがない場合はすぐにお知らせください。
