extends ../layouts/normal/en/layout.pug

block content 
	div(class="mb-10") Dear developer,

	div(class="mb-10") Your API Key has been disabled due to bitcastle's policy:

	div(class="mb-10") • API Key: #[b #{apiKey}]

	div(class="mb-10") 
		div *If this key is initiated by you, please aware the impact to your system.
		div *If you have any question, please contact us via support@bitcastle.io
		div *If you did not initiate this key, please delete it, change your password or contact us immediately
		div Thank you for your continued support of bitcastle.
		div *This e-mail has been sent from our send-only email address, please do not reply to this message.
