extends ../layouts/normal/en/layout.pug

block content 
	div Enter <strong>#{otp}</strong> to confirm your current email address. Note: This confirmation code is valid for <strong>#{ttl / 60} minutes</strong>
