extends ../layouts/normal/en/layout.pug

block content 
	div(class="mb-10") Thank you for your continued support of bitcastle.

	div(class="mb-10") We have received your identity verification document.

	div(class="mb-10") We will review the identity verification document in order of submitted documents.

	div(class="mb-10") Please kindly wait until confirmation.

	div(class="mb-10") *Additional time may be required depending on the application status. We thank you for your understanding.

	div(class="mb-10") We ask for your continued support of bitcastle.

	div(class="mb-10") *This e-mail has been sent from our send-only e-mail address and cannot be replied to.
