extends ../layouts/normal/en/layout.pug

block content 
	div(class="mb-10") Dear administrators,

	div(class="mb-10") The User just made an email change from bitcastle. Please change the same email on CRM Match-Trading.

	div(class="mb-10") 
		div - Old email: #{oldEmail}
		div - New email: #{newEmail}
