extends ../layouts/mt5/en/layout.pug

block content 
	div(class="title mb-32") Change MT5 Account Password

	div(class="paragraph mb-32") Hi client!

	div(class="paragraph mb-32") We got a request to change your MT5 Account password.

	div(class="paragraph mb-32") If this was you, please use the following code to confirm your identity:

	div(class="card paragraph mb-32")
		div(class="otp") #{otp}

	div(class="paragraph") Your OTP have expired after 5 minutes
