extends ../layouts/normal/en/layout.pug

block content 
	div(class="mb-10") We have received your password reset request.

	div(class="mb-10") Please enter the following code to continue progress of setting a new password.

	div(class="mb-10 otp-div")
		span #{otp}

	div(class="mb-10") For security reasons, please reset your password within #{ttl / 60} minutes of receiving this e-mail.

	div(class="mb-10") 
		div *This e-mail has been sent from our send-only e-mail address and cannot be replied to.
		div If this activity is not your own operation, please disable your account and contact us immediately.
