extends ../layouts/normal/en/layout.pug

block content 
  div(class="mb-10") Thank you for always using bitcastle.

  div(class="mb-10")
    div We are pleased to inform you that your account level has been upgraded to Level 5 after the completion of the second screening of your verification documents.
    div With your account level upgraded to Level 5, you can use all features of bitcastle, including the withdrawals via the bitcastle Exchange.
    div You can check the below link for the details of your account level.
  
  div(class="mb-10")
    div #[a(href=`${accountLvLink}`) #{accountLvLink}]

  div(class="mb-10") 
    div All necessary procedures for you to use bitcastle have now been completed.
    div All of us at bitcastle would like to thank you from the bottom of our hearts.
    div We hope you will continue to enjoy bitcastle's services.

  div(class="mb-10") Thank you for your continued support of bitcastle.

  div(class="mb-10") 
    div *This e-mail has been sent from our send-only email address.
    div Please do not reply to this message.
