extends ../layouts/normal/en/layout.pug

block content 
  div(class="mb-10") Dear #{firstName || 'Customer'}

  div(class="mb-10") 
    div Thank you for contacting us.
    div We are sorry to hear that you wish to delete your bitcastle account.

  div(class="mb-10")
    div Please note that it will take some time to process your request.
    div We hope to see you around!

  div(class="mb-10") 
    div Best wishes,
    div bitcastle Support Office

  div(class="mb-10") 
    div *This e-mail has been sent from our send-only email address.
    div Please do not reply to this message*
