extends ../layouts/normal/en/layout.pug

block content 
	div(class="mb-10") Dear trader,

	div(class="mb-10") Thank you for registering with bitcastle.

	div(class="mb-10") Your registration is in progress, the verification code is:

	div(class="mb-10 otp-div")
		span #{otp}

	div(class="mb-10") For security reason, this code is only valid for #{ttl / 60} minutes since the email is sent.

	div(class="mb-10") 
		div 4 Security Tips:
		div * DO NOT give your password to anyone!
		div * DO NOT contact any phone number claiming to be bitcastle Support!
		div * DO NOT send any money to anyone claiming to be a member of bitcastle!
		div * Enable Google Two Factor Authentication!

	div(class="mb-10")
		div *If this was done by you, please ignore this email
		div *If you did not initiate this request, please change your password or contact us immediately

	div(class="mb-10") Thank you for your continued support of bitcastle.

	div(class="mb-10") *This e-mail has been sent from our send-only email address, please do not reply to this message.
