:root {
  --sidebar-width: 260px;
  --sidebar-collapse-width: 65px;
  --header-height: 50px;
  --footer-height: 50px;
  --color-primary: #0598dd;
  --color-active: #007bff;
  --color-black: #111;
  --color-error: #dc3545;
  --border-color-basic: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
}

.header #toggle-sidebar-mobile {
  opacity: 0.7;
}

.header .navigator-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigator-action > * {
  margin: 0 15px;
}

.header .navigator-action .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .navigator-action .message .baget {
  position: absolute;
  top: -4px;
  right: -6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: var(--color-error);
}

.header .navigator-action .material-icons {
  color: var(--color-primary);
}

.sidebar {
  width: var(--sidebar-width);
}

.sidebar .sidebar-head {
  position: relative;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: white;
  border-right: 1px solid var(--border-color-basic);
}

.sidebar .sidebar-head .logo-image {
  width: 40px;
}

.sidebar .sidebar-head .logo-image img {
  max-width: 90%;
  -webkit-filter: invert(0.2);
          filter: invert(0.2);
}

.sidebar .sidebar-head .logo-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  opacity: 0.7;
}

.sidebar .sidebar-head #toggle-sidebar {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar .sidebar-head #toggle-sidebar::after {
  font-family: 'Material Icons';
  content: '\eac3';
  font-size: 24px;
}

.sidebar .sidebar-head #toggle-sidebar:hover {
  opacity: 1;
  color: #007bff;
}

.sidebar .tree-menu {
  --font-size: 1.6rem;
  --color-black-hover: #000;
  --item-height: 44px;
  --item-padding: 10px 20px 10px 10px;
  --item-icon-width: 45px;
  --item-background-color-hover: #ebebeb;
  --item-background-color-active: #f3f6f9;
  --label-font-size: 11px;
  --scroll-bar-color-track: white;
  --scroll-bar-color-thumb: rgb(52, 58, 64, 0.1);
  --scroll-bar-width: 5px;
  height: calc(100vh - var(--header-height));
  width: 100%;
  position: relative;
  color: var(--color-black);
  font-size: var(--font-size);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-right: var(--scroll-bar-width);
  background-color: white;
  border-right: 1px solid var(--border-color-basic);
}

.sidebar .tree-menu:hover {
  overflow-y: auto;
  padding-right: 0;
}

.sidebar .tree-menu::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

.sidebar .tree-menu::-webkit-scrollbar-track {
  background: var(--scroll-bar-color-track);
}

.sidebar .tree-menu::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color-thumb);
}

.sidebar .tree-menu .tree-label {
  height: var(--item-height);
  padding: var(--item-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  font-size: var(--label-font-size);
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .tree-menu .tree-item {
  height: var(--item-height);
  padding: var(--item-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .tree-menu .tree-item .material-icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--item-icon-width);
          flex: 0 0 var(--item-icon-width);
  text-align: center;
  font-size: 20px;
  opacity: 0.2;
}

.sidebar .tree-menu .tree-item:hover {
  color: var(--color-black-hover);
  background-color: var(--item-background-color-hover);
}

.sidebar .tree-menu .tree-item:hover .material-icons {
  opacity: 1;
}

.sidebar .tree-menu .tree-item.active {
  color: var(--color-active);
  background-color: var(--item-background-color-active);
}

.sidebar .tree-menu .tree-item.active .material-icons {
  opacity: 1;
}

.sidebar .tree-menu .tree-group > .tree-group-title {
  height: var(--item-height);
  padding: var(--item-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .tree-menu .tree-group > .tree-group-title .material-icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--item-icon-width);
          flex: 0 0 var(--item-icon-width);
  text-align: center;
  font-size: 20px;
  opacity: 0.2;
}

.sidebar .tree-menu .tree-group > .tree-group-title:hover {
  color: var(--color-black-hover);
  background-color: var(--item-background-color-hover);
}

.sidebar .tree-menu .tree-group > .tree-group-title:hover .material-icons {
  opacity: 1;
}

.sidebar .tree-menu .tree-group > .tree-group-title.active {
  color: var(--color-active);
  background-color: var(--item-background-color-active);
}

.sidebar .tree-menu .tree-group > .tree-group-title.active .material-icons {
  opacity: 1;
}

.sidebar .tree-menu .tree-group > .tree-group-title::after {
  font-family: 'Material Icons';
  content: '\e313';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  opacity: 0.7;
}

.sidebar .tree-menu .tree-group > .tree-group-title:hover::after {
  opacity: 1;
}

.sidebar .tree-menu .tree-group > .tree-group-children {
  max-height: 0;
  overflow: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sidebar .tree-menu .tree-group.expand > .tree-group-title {
  color: var(--color-active);
}

.sidebar .tree-menu .tree-group.expand > .tree-group-title .material-icons {
  opacity: 1;
}

.sidebar .tree-menu .tree-group.expand > .tree-group-title::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.sidebar .tree-menu .tree-group.expand > .tree-group-children {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.sidebar .tree-menu > .tree-label {
  padding-left: 10px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-item {
  padding-left: calc(var(--item-icon-width) + 10px);
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: calc(var(--item-icon-width) + 10px);
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 70px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 70px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 85px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 85px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 100px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 100px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-item {
  padding-left: 115px;
}

.sidebar .tree-menu > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-children > .tree-group > .tree-group-title {
  padding-left: 115px;
}

.sidebar.collapse {
  width: var(--sidebar-collapse-width);
}

.sidebar.collapse:not(:hover) .sidebar-head {
  padding: 10px;
}

.sidebar.collapse:not(:hover) .sidebar-head .logo-image {
  display: none;
}

.sidebar.collapse:not(:hover) .sidebar-head .logo-text {
  display: none;
}

.sidebar.collapse:not(:hover) .sidebar-head #toggle-sidebar::after {
  content: '\eac9';
}

.sidebar.collapse:not(:hover) .tree-menu .tree-label {
  font-size: 0;
}

.sidebar.collapse:not(:hover) .tree-menu .tree-label::after {
  display: block;
  padding: 10px;
  text-align: center;
  width: 45px;
  text-indent: 0;
  font-family: 'Material Icons';
  content: '\e5d3';
  font-size: 24px;
}

.sidebar.collapse:not(:hover) .tree-menu .tree-item {
  font-size: 0;
}

.sidebar.collapse:not(:hover) .tree-menu .tree-group .tree-group-title {
  font-size: 0;
}

.sidebar.collapse:not(:hover) .tree-menu .tree-group .tree-group-title::after {
  display: none;
}

.sidebar.collapse:not(:hover) .tree-menu .tree-group .tree-group-children {
  display: none;
}

.sidebar.collapse:hover .sidebar-head {
  position: absolute;
  width: var(--sidebar-width);
  z-index: 99;
}

.sidebar.collapse:hover .sidebar-head #toggle-sidebar::after {
  content: '\e318';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidebar.collapse:hover .tree-menu {
  position: absolute;
  top: var(--header-height);
  width: var(--sidebar-width);
  z-index: 99;
}

.sidebar.mobile {
  position: absolute;
  left: calc(0px - var(--sidebar-width));
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 99;
}

.sidebar.mobile .sidebar-head #toggle-sidebar {
  display: none;
}

.sidebar.mobile.preview {
  left: 0;
}

.tabs {
  width: 100%;
  border-top: 1px solid var(--border-color-basic);
}

.tabs .tabs-title {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--border-color-basic);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
}

.tabs .tabs-title .tabs-prev {
  padding: 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  opacity: 0.8;
}

.tabs .tabs-title .tabs-prev:not(.deactive):hover {
  color: var(--color-active);
}

.tabs .tabs-title .tabs-prev.deactive {
  opacity: 0.2;
  cursor: not-allowed;
}

.tabs .tabs-title .tabs-next {
  padding: 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  opacity: 0.8;
}

.tabs .tabs-title .tabs-next:not(.deactive):hover {
  color: var(--color-active);
}

.tabs .tabs-title .tabs-next.deactive {
  opacity: 0.2;
  cursor: not-allowed;
}

.tabs .tabs-title .tabs-title-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
  border-left: 1px solid var(--border-color-basic);
  border-right: 1px solid var(--border-color-basic);
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents .tabs-title-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  border-right: 1px solid var(--border-color-basic);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 12px;
  min-width: 150px;
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents .tabs-title-item.active {
  color: var(--color-active);
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents .tabs-title-item .tabs-title-item-label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding-right: 16px;
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents .tabs-title-item .tabs-title-item-label:hover {
  color: var(--color-active);
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents .tabs-title-item .tabs-title-item-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents .tabs-title-item .tabs-title-item-close .material-icons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  font-size: 12px;
  border-radius: 50%;
}

.tabs .tabs-title .tabs-title-wrapper .tabs-title-contents .tabs-title-item .tabs-title-item-close:hover .material-icons {
  border: 1px solid var(--color-error);
  color: var(--color-error);
}

.tabs .tabs-title .tabs-close-all {
  padding: 0 12px;
  border-left: 1px solid var(--border-color-basic);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.tabs .tabs-title .tabs-close-all:hover {
  color: var(--color-active);
}

.tabs .tabs-panel {
  min-height: calc(100vh - 150px);
  padding: 0.5rem 1rem;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main .sidebar {
  height: 100vh;
}

.main .header {
  height: var(--header-height);
}

.main .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #F0F2F5;
}

.main .footer {
  height: var(--footer-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-icons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 24px;
}
/*# sourceMappingURL=main.css.map */