<%- include('../layouts/main-before') %>

<div class="card">
    <article class="card-body mx-auto col-lg-6">
    <h4>Trang chủ hiện đang được bảo trì ....</h4>
    <br><br>
    <h5>Chức năng còn hoạt động:
        <a href="/user/tu-thuoc"> -------- Tủ thuốc -------- <a>
    </h5>
    </article>
</div> <!-- card.// -->
        
<%- include('../layouts/main-after') %>