extends ../layouts/layout.pug

block content 
	div(class="mb-10") We have received your password reset request.

	div(class="mb-10") Please enter the following code to continue progress of setting a new password.

	div(class="mb-10 otp-div")
		span #{otp}

	div(class="mb-10") For security reason, this code will be expired within #{ttl / 60 / 60} hours of receiving this email.

	div(class="mb-10") 
		div *This e-mail has been sent from our send-only e-mail address and cannot be replied to.
		div If this activity is not your own operation, please disable your account and contact us immediately.
