div(id="footer") 
	div(class="divider mb-32")

	div(class="paragraph mb-32") 何かご不明な点がございましたら、いつでもsupport@bitcastle.ioまでご連絡いただくようお願いいたします。

	div(class="paragraph mb-32") フォロー

	div(class="row")
		div(class="col-sm-6 mb-16") 
			a(class="social mb-16" href="https://bitcastle.io")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_bitcastle.png" class="social-logo")
				div(class="social-title") 公開サイト
	
			a(class="social mb-16" href="https://bo.bitcastle.io")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_high_low.png" class="social-logo")
				div(class="social-title") bitcastle HIGH&LOW

			a(class="social mb-16")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_mt5.png" class="social-logo")
				div(class="social-title") bitcastle MT5

			a(class="social" href="https://www.facebook.com/bitcastle.English")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_facebook.png" class="social-logo")
				div(class="social-title") Facebook

		div(class="col-sm-6 mb-32")
			a(class="social mb-16" href="https://t.me/bitcastle_official")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_telegram.png" class="social-logo")
				div(class="social-title") Telegram (英語)
	
			a(class="social mb-16" href="https://t.me/bitcastle_jpn")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_telegram.png" class="social-logo")
				div(class="social-title") Telegram (日本語)

			a(class="social mb-16" href="https://twitter.com/bit_castle")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_twitter.png" class="social-logo")
				div(class="social-title") Twitter (英語)

			a(class="social" href="https://twitter.com/bitcastle_JP")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_twitter.png" class="social-logo")
				div(class="social-title") Twitter (日本語)

	div(class="divider mb-32")

	div [All right reserved bitcastle Exchange]
