<%- include('../../layouts/main-before') %>

<div class="app-page-title">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div class="page-title-icon">
				<i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
			</div>
			<div>
				Quản lý Phiếu Nhập Thuốc
				<div class="page-title-subheading">
					This is an example dashboard created using build-in elements and components.
				</div>
			</div>
		</div>
		<div class="page-title-actions">
			<a href="/admin/phieu-xuat-thuoc/add" class="btn btn-primary btn-lg active mr-5">
				<i class="fas fa-plus-square"></i> Tạo Phiếu Nhập Thuốc Mới
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="main-card mb-3 card">
			<div class="card-body">
				<div class="row mb-1">
					<div class="col-xl-1 col-md-2 col-4 mb-1">
						<select id="select-rows-page" name="select-rows-page" class="form-control">
							<option value="5">5</option>
							<option value="10" selected>10</option>
							<option value="25">25</option>
							<option value="50">50</option>
						</select>
					</div>

					<div class="input-group col-6 ml-auto mb-1">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-search"></i></span>
						</div>
						<input id="input-search" placeholder="Search..." type="text" class="form-control" />
						<div class="input-group-append">
							<select id="select-search" class="form-control">
								<option value="" selected>Tất cả</option>
								<option value="TenThuoc">Tên Thuốc</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-12">
						<table id="mytable" class="mb-0 table table-bordered">
							<thead>
								<tr>
									<th>
										<input id="checkbox-item-all" type="checkbox" />
										&nbsp;#
									</th>
									<th>Số Lượng</th>
									<th>Người Xuất</th>
									<th>Thời gian tạo</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<nav class="float-right" aria-label="Page navigation example">
							<ul class="pagination justify-content-end" id="pagination">
								<li class="page-item">
									<a class="page-link" aria-label="Previous"
										><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a
									>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item">
									<a class="page-link" aria-label="Next"
										><span aria-hidden="true">»</span><span class="sr-only">Next</span></a
									>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../../layouts/main-after') %> <%- include('./phieuxuatthuoc-modal') %>
<script>
	let listElement = {
		table: document.getElementById('mytable'),
		ipSearch: document.getElementById('input-search'),
		pagination: document.getElementById('pagination'),
		slRowsPerPage: document.getElementById('select-rows-page'),
		slSearch: document.getElementById('select-search'),
	};
	let listFetcher = {
		LIST: () => {
			return window.location.pathname + '/list';
		},
	};
	let actionCol = (data) => {
		return `<a onclick="showDetailRow(this)" class="show-detail-row">
                        <i class="fas fa-plus-square style="color: blue;""></i>
                    </a>
					<a href="" class="mr-2" data-action="REPLACE" 
						data-toggle="modal" data-target="#jsonPhieuXuatThuocModal">
                        <i class="fas fa-calendar-week"></i>
                    </a>`;
	};
	let showDetailRow = (elm) => {
		let id = elm.closest('tr').getAttribute('data-id');
		let show = bangPhieuXuatThuoc.event.toggleDetailRow(id);
		if (show) {
			elm.innerHTML = '<i class="fas fa-minus-square"></i>';
		} else {
			elm.innerHTML = '<i class="fas fa-plus-square"></i>';
		}
	};

	let soluongCol = (data) => {
		let col = data.DanhSach.reduce((acc, item) => {
			let sn = item.SoXuat.reduce((a, i) => {
				a += `- Số lượng: ${i.SoLuong} - Giá Mua: ${i.GiaMua.toFixed(3)} - Giá Bán: ${item.GiaBan.toFixed(3)}
				- HSD: ${MyDateTime.format(i.HanSuDung, 'dd/MM/YYYY')} <br>`;
				return a;
			}, '');

			acc += `<li>
				Thuốc: ${item.TenThuoc} <br> ${sn}
				</li>`;
			return acc;
		}, '');
		return `<ul>${col}</ul>`;
	};

	let bangPhieuXuatThuoc = new MyTable({
		elm: listElement,
		fetch: listFetcher,
		contents: {
			dataSrc: 'data',
			rowMain: [soluongCol,'NguoiXuat', (item) => MyDateTime.format(item.createdAt, 'dd/MM/YYYY HH:mm'), actionCol],
			rowPlus: (item) => {
				return `<table class="table"><tbody>
                        </tbody></table>`;
			},
		},
	});
</script>
