div(id="footer") 
	div(class="divider mb-32")

	div(class="paragraph mb-32") If you have any questions, please feel free to contact our support team at support@bitcastle.io

	div(class="paragraph mb-32") Follow us on:

	div(class="row")
		div(class="col-sm-6 mb-16") 
			a(class="social mb-16" href="https://bitcastle.io")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_bitcastle.png" class="social-logo")
				div(class="social-title") Official Website
	
			a(class="social mb-16" href="https://bo.bitcastle.io")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_high_low.png" class="social-logo")
				div(class="social-title") bitcastle HIGH&LOW

			a(class="social mb-16")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_mt5.png" class="social-logo")
				div(class="social-title") bitcastle MT5

			a(class="social" href="https://www.facebook.com/bitcastle.English")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_facebook.png" class="social-logo")
				div(class="social-title") Facebook

		div(class="col-sm-6 mb-32")
			a(class="social mb-16" href="https://t.me/bitcastle_official")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_telegram.png" class="social-logo")
				div(class="social-title") Telegram (EN)
	
			a(class="social mb-16" href="https://t.me/bitcastle_jpn")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_telegram.png" class="social-logo")
				div(class="social-title") Telegram (JP)

			a(class="social mb-16" href="https://twitter.com/bit_castle")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_twitter.png" class="social-logo")
				div(class="social-title") Twitter (EN)

			a(class="social" href="https://twitter.com/bitcastle_JP")
				img(src="https://bce-prod-public.s3.amazonaws.com/email/ic_twitter.png" class="social-logo")
				div(class="social-title") Twitter (JP)

	div(class="divider mb-32")

	div [All right reserved bitcastle Exchange]
