extends ../layouts/normal/ja/layout.pug

block content 
	div(class="mb-10") 開発者の皆様へ

	div(class="mb-10") bitcastleのポリシーによりAPIキーが無効になりました 。

	div(class="mb-10") • APIキー: #[b #{apiKey}]

	div(class="mb-10") 
		div *このキーはあなたによって開始された場合、システムへの影響に注意してください。
		div *ご不明な点がございましたらsupport@bitcastle.ioにお問い合わせください。
		div *このキーを開始しなかった場合、それを削除するか、パスワードを変更するか、すぐにご連絡ください。
		div いつもbitcastleをご愛顧いただき、誠にありがとうございます。
		div ※このメールは送信専用メールアドレスから配信されています。 このままご返信いただいてもお答えできませんのでご了承ください。
