extends ../layouts/normal/ja/layout.pug

block content 
	div(class="mb-10") bitcastleをご利用いただき、誠にありがとうございます。

	div(class="mb-10") 
		div お客様の申請に基づき、パスワードの変更が完了致しました。
		div 新しく変更されたパスワードにてログインいただきますようお願い致します。

	div(class="mb-10") 
		div このメールは送信専用アドレスより送信しております。
		div そのため返信頂いても内容の確認ができません。
		div こちらのメールに心当たりがない場合はすぐにお知らせください。

	