extends ../layouts/normal/ja/layout.pug

block content 
	div(class="mb-10") 平素よりbitcastleをご愛顧いただき、誠にありがとうございます。

	div(class="mb-10") 
		div 本人確認書類の受け付けが完了致しました。
		div 順次ご本人様確認の審査に移らせて頂きます。
		div 確認が完了するまで今しばらくお待ち下さい。

	div(class="mb-10") ※申し込み状況によってはお時間を要する場合もございますので、ご理解頂きますようお願い申し上げます。

	div(class="mb-10") 今後ともbitcastleをよろしくお願いいたします。

	div(class="mb-10")
		div このメールは送信専用アドレスより送信しております。
		div そのため返信頂いても内容の確認ができません。
