extends ../layouts/normal/ja/layout.pug

block content 
	div(class="mb-10") #{name}様

	div(class="mb-10")
		div お世話になっております。
		div bitcastle事務局です。

	div(class="mb-10") 
		div お待たせ致しました。
		div 本人確認の審査が終了しましたのでこちらからマイページにログイン後、審査結果をご確認ください。
		div 
			a(href=`${loginLink}`) #{loginLink}

	div(class="mb-10") 審査結果はご自身のメールアドレスが表示される横に表示されます。

	div(class="mb-10") 
		div 緑のマークで「承認」と表示された場合は、本人確認が承認されました。
		div 赤のマークで「非承認」と表示された場合は、本人確認が承認されておりません。
		div 「非承認」の場合、再度本人確認書類をご確認の上、画面上部のリンクから再提出をお願い致します。

	div(class="mb-10") 
		div また、非承認理由は「非承認」と表示されている横の「！」マークをクリックすることでご確認いただけます。
		div ただし、セキュリティーの観点から表示される情報はあくまで該当する可能性のあるケースを絞ったものとなります。

	div(class="mb-10") 
		div 尚、このメールは送信専用アドレスより送信しております。
		div そのため返信頂いても内容の確認ができません。

	div(class="mb-10") こちらのメールに心当たりがない場合はすぐにお知らせください。
