extends ../layouts/normal/ja/layout.pug

block content 
  div(class="mb-10") お客様

  div(class="mb-10") いつもビットキャッスルをご愛顧いただき、誠にありがとうございます。

  div(class="mb-10") お客様のご本人確認書類の確認が非承認となりましたので、お知らせいたします。

  div(class="mb-10")
    div 非承認の理由は、ご本人確認書類を再提出いただく際に、ポップアップ ウィンドウでご確認いただけます。
    div ポップアップが表示されない場合は、以下の方法でご確認いただけます。
    div ●トップページの左上三本線をタップ＞表示されたご自身のメールアドレスをタップ

  div(class="mb-10") 以下のページからご本人確認書類を再提出してください。

  div(class="mb-10")
    a(href=`${accountLvLink}`) #{accountLvLink}

  div(class="mb-10")
    div セキュリティーの観点から非承認理由をピンポイントでお教えすることはできません。
    div 表示される情報はあくまで該当する可能性のあるケースを絞ったものとなります。

  div(class="mb-10") ※このメールは送信専用アドレスより送信しております。そのため返信頂いても内容の確認ができません。何卒ご了承くださいませ。