extends ../layouts/mt5/ja/layout.pug

block content 
	div(class="title mb-32") MT5口座のパスワード変更

	div(class="paragraph mb-32") 。。様

	div(class="paragraph mb-32") お客様からMT5口座のパスワード変更リクエストを受け取りました。

	div(class="paragraph mb-32") このコードを入力してご本人確認を行ってください。

	div(class="card paragraph mb-32")
		div(class="otp") #{otp}

	div(class="paragraph") OTPの有効期限(5分)が切れました
