extends ../layouts/normal/ja/layout.pug

block content 
  div(class="mb-10") お客様

  div(class="mb-10") いつもbitcastleをご愛顧いただき、誠にありがとうございます。

  div(class="mb-10")
    div アカウントレベルがレベル 4 にアップグレードされました。
    div ご本人確認審査がすべて完了し、bitcastle のすべてのサービスをご利用いただけるようになりました。

  div(class="mb-10") アカウントレベルの詳細については、以下のリンクを確認してください。

  div(class="mb-10")
    div #[a(href=`${accountLvLink}`) #{accountLvLink}]

  div(class="mb-10")
    div bitcastle一同、心より感謝申し上げます。
    div 今後ともbitcastleをよろしくお願いいたします。

  div(class="mb-10") ※このメールは送信専用アドレスより送信しております。そのため返信頂いても内容の確認ができません。何卒ご了承くださいませ。
