extends ../layouts/normal/ja/layout.pug

block content 
	div(class="mb-10") お客様

	div(class="mb-10")
		div いつもビットキャッスルをご愛顧いただき、誠にありがとうございます。
		div この度はbitcastleにご登録いただき、誠にありがとうございます。

	div(class="mb-10")
		div 以下の確認コードを入力して、ご登録を進めてください。
		div 確認コードは次のとおりです。

	div(class="mb-10 otp-div")
		span #{otp}

	div(class="mb-10") セキュリティ上、本メールの受信後、#{ttl / 60}分以内にパスワードの再設定を完了してください。コードは#{ttl / 60}分間有効です。

	div(class="mb-10")
		div 以下の4 つのセキュリティをお勧めしております:
		div *パスワードは誰にも教えないでください。
		div *bitcastle サポートを名乗る電話番号には絶対に連絡しないでください。
		div *bitcastle の社員であると主張する人に送金しないでください。
		div *Google 二要素認証を有効にするとより安全です。
		div *こちらのメールに心当たりがない場合はパスワードをご変更いただき、すぐにお知らせください。
		div *お客様自身でご登録の場合は、こちらのメールを無視してください。

	div(class="mb-10") ※このメールは送信専用アドレスより送信しております。そのため返信頂いても内容の確認ができません。何卒ご了承くださいませ。
